In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('can_stat.csv')

In [4]:
df.head()

   Year    Country-of-origin  UNHCR-refugees  Asylum-seekers  total-count
0  2012          Afghanistan            2609             411         3020
1  2012              Albania            1764             579         2343
2  2012              Algeria             513             284          797
3  2012               Angola             753              21          774
4  2012  Antigua and Barbuda              40              30           70

In [5]:
df.shape

(1870, 5)

In [6]:
df.isna().sum()

Year                 0
Country-of-origin    0
UNHCR-refugees       0
Asylum-seekers       0
total-count          0
dtype: int64

### Q1. From which countries has Canada admitted the highest number of refugees?

In [11]:
top_refugee_country = df.groupby('Country-of-origin')['UNHCR-refugees'].sum().reset_index()
top_refugee_country.sort_values(by = 'UNHCR-refugees', ascending = False)

            Country-of-origin  UNHCR-refugees
35                   Colombia          108416
33                      China           98586
170                   Ukraine           88376
121                  Pakistan           74737
72                      Haiti           70956
..                        ...             ...
75                    Iceland               5
98                 Luxembourg               0
27                 Cabo Verde               0
18                    Bermuda               0
167  Turks and Caicos Islands               0

[184 rows x 2 columns]